.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  .tomato {
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.5;

    &.selected {
      opacity: 1;
      transform: scale(1.2); /* Destaca os tomates selecionados */
    }
  }

  .tomato:hover {
    transform: scale(1.1); /* Efeito ao passar o mouse */
  }
}
