<ion-header>
  <ion-toolbar>
    <ion-title>{{ location?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Imagem do local -->
  <div class="location-image-container">
    <img [src]="location?.image" [alt]="location?.name" class="location-image" />
  </div>

  <div>
    <h2>Comentários</h2>
    <ion-list>
      <ion-item *ngFor="let comentario of comentarios">
        <ion-label>
          <h3>{{ comentario.comment }}</h3>
          <p>Avaliação: {{ comentario.rating }}/5</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <h2>Deixe sua avaliação</h2>
    <ion-textarea
      [(ngModel)]="comment"
      placeholder="Escreva seu comentário aqui..."
    ></ion-textarea>

    <!-- Seção de avaliação com tomates -->
    <div class="rating-container">
      <div class="tomato" *ngFor="let num of [1, 2, 3, 4, 5]" 
           (click)="selectRating(num)"
           [class.selected]="(rating ?? 0) >= num">
        🍅
      </div>
    </div>

    <ion-button
      expand="full"
      (click)="submitEvaluation()"
      [disabled]="!comment || rating === null">
      Enviar Avaliação
    </ion-button>
  </div>
</ion-content>
