<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
      <ion-title class="welcome-title">PERFIL</ion-title>
      <ion-avatar style="margin: 2rem 0 1rem; width: 120px; height: 120px;" (click)="selectAvatar()">
        <img alt="Silhouette of a person's head" [src]="avatarUrl || '/assets/images/avatar.png'" />
      </ion-avatar>      
      <ion-title class="sub-title">{{ apiUsername }}</ion-title>
    </div>

    <ion-card (click)="toggleInfo()" button>
      <ion-card-header>
        <ion-card-title>Informações</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div *ngIf="showInfo" style="padding: 1rem; text-align: center;">
      <ion-item style="--padding-start: 0; --padding-end: 0;">
        <ion-label>Email</ion-label>
        <ion-note slot="end" style="max-width: 50%;">{{ apiEmail }}</ion-note>
      </ion-item>
      <ion-item style="--padding-start: 0; --padding-end: 0;">
        <ion-label>Nome de Usuário</ion-label>
        <ion-note slot="end" style="max-width: 50%;">{{ apiUsername }}</ion-note>
      </ion-item>
      <ion-item style="--padding-start: 0; --padding-end: 0;">
        <ion-label>Senha</ion-label>
        <ion-note slot="end" style="max-width: 50%;">**********</ion-note>
      </ion-item>
    </div>

    <!-- Alteração de Email -->
    <ion-card (click)="toggleAltEmail()" button>
      <ion-card-header>
        <ion-card-title>Alterar Email</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div *ngIf="showAltEmail" style="padding: 1rem; text-align: center;">
      <form (ngSubmit)="onSubmitEmail()">
        <ion-item>
          <ion-label position="floating">Novo Email</ion-label>
          <ion-input type="email" [(ngModel)]="newEmail" name="newEmail" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="danger">Atualizar Email</ion-button>
      </form>
    </div>

    <!-- Alteração de Senha -->
    <ion-card (click)="toggleAltSenha()" button>
      <ion-card-header>
        <ion-card-title>Alterar Senha</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div *ngIf="showAltSenha" style="padding: 1rem; text-align: center;">
      <form (ngSubmit)="onSubmitSenha()">
        <ion-item>
          <ion-label position="floating">Nova Senha</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirme a Nova Senha</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="danger">Atualizar Senha</ion-button>
      </form>
    </div>

    <ion-card (click)="toggleAva()" button>
      <ion-card-header>
        <ion-card-title>Avaliações</ion-card-title>
      </ion-card-header>
    </ion-card>
    
  </ion-content>
</div>
