<ion-menu contentId="main-content" style="width: 50%;">
  <ion-content class="ion-padding menu-content">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="/assets/images/avatar.png" />
    </ion-avatar>
    <h5 style="margin-bottom: 3rem;">Daniel</h5>

    <ion-item routerLink="/perfil" class="menu-item">
      <h4>Perfil</h4>
    </ion-item>
    <ion-item routerLink="/favoritos" class="menu-item">
      <h4>Favoritos</h4>
    </ion-item>
    <ion-item routerLink="/compartilhar" class="menu-item">
      <h4>Compartilhar</h4>
    </ion-item>
    <ion-item routerLink="/mapa" class="menu-item">
      <h4>Mapa</h4>
    </ion-item>
    <ion-item routerLink="/sair" class="menu-item" style="margin-top: 4rem;">
      <h4>Sair</h4>
    </ion-item>
    <ion-img
    src="/assets/images/iconemenu.png"
    alt="tomate"
    style="width: 84px;margin-top: 4rem;"
>   </ion-img>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button
          style="
            background-color: white;
            border-radius: 10px;
            width: 51px;
            height: 44px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          "
        ></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-title color="dark" style="font-size: 36px; font-weight: 700">Bem-Vindo</ion-title>
    <ion-title color="medium" style="font-size: 26px; font-weight: 500">Daniel</ion-title>

    <ion-title color="dark" style="font-size: 30px; font-weight: 500; padding: 0; margin-top: 2rem;">
      Conheça
    </ion-title>
    <ion-title color="medium" style="font-size: 20px; font-weight: 500; padding: 0;">
      Sua localização
    </ion-title>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide 1: Arcos da Lapa -->
        <div class="swiper-slide">
          <div style="background-color: #d9d9d9; width: 100%; height: 189px; display: flex; align-items: center; justify-content: center; border: solid 2px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <img src="/assets/images/paisagem.png" alt="Imagem" />
              <label>Arcos da Lapa</label>
              <div>
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" style="opacity: 50%;" />
                <img src="/assets/images/avaliação.png" alt="avaliação" style="opacity: 50%;" />
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2: Lapa -->
        <div class="swiper-slide">
          <div style="background-color: #d9d9d9; width: 100%; height: 189px; display: flex; align-items: center; justify-content: center; border: solid 2px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <img src="/assets/images/paisagem.png" alt="Imagem" />
              <label>Lapa</label>
              <div>
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" style="opacity: 50%;"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <ion-title color="dark" style="font-size: 30px; font-weight: 500; padding: 0; margin-top: 5px;">
      Recomendados
    </ion-title>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- 1º slide -->
        <div class="swiper-slide">
          <div style="background-color: #d9d9d9; width: 100%; height: 189px; display: flex; align-items: center; justify-content: center; border: solid 2px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <img src="/assets/images/paisagem.png" alt="Imagem" />
              <label>Arcos da Lapa</label>
              <div>
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="background-color: #d9d9d9; width: 100%; height: 189px; display: flex; align-items: center; justify-content: center; border: solid 2px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <img src="/assets/images/paisagem.png" alt="Imagem" />
              <label>Lapa</label>
              <div>
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
                <img src="/assets/images/avaliação.png" alt="avaliação" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </ion-content>
</div>
