<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Título de boas-vindas -->
    <ion-title class="welcome-title" style="font-size: 33px;">Bem-Vindo</ion-title>

    <!-- Primeiro carrossel: Conheça sua localização -->
    <ion-title class="section-title">Conheça Sua Localização</ion-title>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let location of recommendedLocations"
          (click)="openModal(location)">
          <div class="slide-box">
            <div class="slide-content">
              <img [src]="location.image" [alt]="location.name" class="location-image" />
              <label>{{ location.name }}</label>
              <div>
                <img
                  *ngFor="let star of location.stars"
                  src="/assets/images/avaliação.png"
                  [class.half-opacity]="star.half"
                  alt="avaliação"
                  class="rating-icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Segundo carrossel: Recomendados -->
    <ion-title class="section-title">Recomendações</ion-title>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let location of recommendedPlaces.concat(recommendedLocations, sharedLocations)"
          (click)="openModal(location)">
          <div class="slide-box">
            <div class="slide-content">
              <img [src]="location.image" [alt]="location.name" class="location-image" />
              <label>{{ location.name }}</label>
              <div>
                <img
                  *ngFor="let star of location.stars"
                  src="/assets/images/avaliação.png"
                  [class.half-opacity]="star.half"
                  alt="avaliação"
                  class="rating-icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </ion-content>
</div>
