<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark" style="font-size: 36px; font-weight: 700;">Olá, Viajante</ion-title>
    <ion-title color="medium" style="font-size: 24px; font-weight: 500;">Bem-vindo</ion-title>
    <ion-buttons slot="end">
      <ion-img src="/assets/images/titlemap.png" alt="Logo maps"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
    </ion-item>

    <div>
      <ion-button color="danger" routerLink="/register">Cadastro</ion-button>
      <ion-button class="entrar" type="submit">Entrar</ion-button>
    </div>

    <a (click)="openForgotPasswordModal()" style="width: 100%; display: flex; justify-content: center;">
      Esqueceu Senha?
    </a>
  </form>

  <div style="display: flex;">
    <img src="/assets/images/Logo.png" alt="Logo Tourmate">
  </div>

  <!-- Modal de redefinição de senha -->
  <ion-modal [isOpen]="isForgotPasswordModalOpen" (willDismiss)="closeForgotPasswordModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Redefinir Senha</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeForgotPasswordModal()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Formulário para enviar e-mail -->
        <form *ngIf="passwordResetState === PasswordResetState.RequestEmail" (ngSubmit)="submitForgotPassword()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block">Confirmar Email</ion-button>
        </form>

        <!-- Formulário para inserir o token e a nova senha -->
        <form *ngIf="passwordResetState === PasswordResetState.ConfirmToken" (ngSubmit)="confirmToken()" #tokenForm="ngForm">
          <ion-item>
            <ion-label position="floating">Token</ion-label>
            <ion-input type="text" [(ngModel)]="token" name="token" required></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" [disabled]="tokenForm.invalid">Confirmar Token</ion-button>
        </form>

        <!-- Campos de nova senha após confirmar o token -->
        <form *ngIf="passwordResetState === PasswordResetState.ResetPassword" (ngSubmit)="resetPassword()">
          <ion-item>
            <ion-label position="floating">Nova Senha</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required minlength="6"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Redefinir Senha</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
