* {
  font-family: Poppins, sans-serif;
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.entrar {
  --background: #28a745;
  --color: #ffffff;
  --border: 1px solid #28a745;
}
ion-header {
  box-shadow: none;

  ion-toolbar {
    padding-top: 2rem;
    }

    ion-buttons {
      ion-img {
        height: 90px;
        width: 90px;
      }
    }
  }

ion-content {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0; // Remover padding padrão para ajustar o layout conforme necessário

  form {
    width: 100%;
    max-width: 500px;

    ion-item {
      --border-color: transparent;
      --box-shadow: none;

      ion-label {
        position: floating;
        font-family: Poppins, sans-serif;
        font-weight: 700;
      }

      ion-input {
        margin-top: 2rem;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #038920;
        background-color: #e5e5e5;
      }
    }

    // Botões dentro do formulário
    > div {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      ion-button {
        flex: 1;
        &.danger {
          margin-right: 4rem;
        }

        &.custom-button-success {
          margin-left: 4rem;
        }
      }
    }

    
  }

  ion-img {
    margin-top: 1.5rem;
    width: 190px;
  }
}
